<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-zYFw+mxKy6r9zpAc1NoGiYBfQmxfvg7ONEMr81WeU+WLPPaLC9QTrNGFJTBi3EIn" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/js/boosted.bundle.min.js" integrity="sha384-MANW37RG4MpFWPMCcNZBnvSobOkBpIGlbBkEzTtD4FbbOzJXbW8TddND1ak2lfsB" crossorigin="anonymous"></script>
    <title>Administration des services</title>
</head>
<body>
    {#include navbar}
    {/include}
    <div class="container-fluid content">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a  class="btn btn-primary"aria-expanded="false"  href="/services/postservice">Ajouter un service</a>
            <a  class="btn btn-primary"aria-expanded="false"  href="/services/listservice">Voir la liste de tous les services</a>
        </div>
    </div>
</body>
</html>