<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Incidents</title>
</head>

<body>
    <h1>Incident réseau</h1>
    <form method="post" action="/incidents">
        Cause
        <input type="text" name="cause"><br>
        Date de début
        <input type="datetime-local" name="start-date"><br>
        Date de fin
        <input type="datetime-local" name="end-date"><br>
        Service
        <input type="text" name="service" /><br>
        Résolution
        <input type="text" name="resolution" /><br>
        Site
        <select name="site" id="site">
            {#for site in sites}
            <option value="{site.id}">{site.name}</option>
            {/for}
        </select>
        <input type="submit" value="Valider">
    </form>
</body>

</html>