<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Création des incidents</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a class="stretched-link" href="#">
            <img src="/docs/5.2/assets/brand/orange-logo.svg" width="50" height="50" alt="Boosted - Back to Home" loading="lazy">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Incidents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Historique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<h1>Incidents</h1>
       <form method="post" action="/incidents">
            Cause
            <input type="text" name="cause"><br>
            Date de début
            <input type="date" name="date_deb" ><br>
            Date de fin
            <input type="date" value="date_fin"/><br>
            Résolution
            <input type="text" name="resolution"/><br>
            Service
            <input type="text" name="resolution"/><br>
            <input type="submit" value="Valider">
       </form>
</body>
</html>