<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Incidents</title>
</head>
<body>
   <h1>Incident réseau</h1>
   <form method="post" action="/incidents">
        Cause
        <input type="text" name="cause"><br>
        Date de début
        <input type="datetime-local" name="cause" ><br>
        Date de fin
        <input type="datetime-local" value="Valider"/><br>
        Résolution
        <input type="text" name="resolution"/><br>
        <input type="submit" value="Valider">
   </form>
</body>
</html>