<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Incidents</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-zYFw+mxKy6r9zpAc1NoGiYBfQmxfvg7ONEMr81WeU+WLPPaLC9QTrNGFJTBi3EIn" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/js/boosted.bundle.min.js" integrity="sha384-MANW37RG4MpFWPMCcNZBnvSobOkBpIGlbBkEzTtD4FbbOzJXbW8TddND1ak2lfsB" crossorigin="anonymous"></script>
</head>
<body>
   <h1>Incident service</h1>
   <form method="post" action="/incidents/service">
    <fieldset>
      <legend>Créer un incident de service</legend>
      <div class="mb-3">
        <label for="cause" class="form-label is-required">Cause</label>
        <input type="text" class="form-control" id="cause" name="cause">
      </div>
      <div class="mb-3">
        <label for="start-date" class="form-label is-required">Date de début</label>
        <input type="datetime-local" class="form-control" id="start-date" name="start-date">
      </div>
      <div class="mb-3">
        <label for="end-date" class="form-label">Date de fin</label>
        <input type="datetime-local" class="form-control" id="end-date" name="end-date">
      </div>
      <div class="mb-3">
        <label for="resolution" class="form-label is-required">Résolution</label>
        <input type="text" class="form-control" id="resolution" name="resolution">
      </div>
      <div class="mb-3">
        <label for="resolution" class="form-label is-required">Statut</label>
        <select name="status" id="status">
          <option value="EN_COURS">En cours</option>
          <option value="TERMINE">Terminé</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="service" class="form-label is-required">Service</label>
        <select name="service" id="service" class="form-select" aria-label="size 3 select example">
          {#for service in services}
          <option value="{service.id}">{service.name}</option>
          {/for}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </fieldset>








      <!-- Old Form -->

        <!-- Cause
        <input type="text" name="cause"><br>
        Date de début
        <input type="datetime-local" name="start-date" ><br>
        Date de fin
        <input type="datetime-local" name="end-date" ><br>
        Résolution
        <input type="text" name="resolution"/><br>
        Service
        <select name="service" id="site">
          {#for service in services}
          <option value="{service.id}">{service.name}</option>
          {/for}
        </select>
        <input type="submit" value="Valider"> -->
   </form>
</body>
</html>