<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.7.1/unpoly-bootstrap5.min.css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script>
  $(document).ready(function () {
            $("#validation").click(function (e) {
                e.preventDefault();
                var name = $("#name").val();

                var service = {
                    "name": name
                }

                $.ajax({
                    url: "http://localhost:8080/services/create",
                    type: "POST",
                    data: JSON.stringify(service),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
					crossDomain: "true"
                }).done(function () {
                    alert("service created");
                }).fail(function () {
                        alert("failed to create service");
                    });
            });

            

            
        })
    </script>
</head>
<body>

    <h1>Service</h1>
    <form>


        Name
        <input type="text" id="name" name="name" value="{#if service.name}{service.name}{/if}"><br>
        <input type="submit" value="Valider" id="validation">

    </form>

</body>
</html>