<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.7.1/unpoly-bootstrap5.min.css">
  <script src="./jquery-3.6.3.js">
  $("#service-form").submit(function(e) {
        e.preventDefault();
        var formData = {
          name: $("#name").val()
        };

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:8080/services",
            data: JSON.stringify(formData),
            dataType: "json",
            success: function() {
              // handle success
              alert("Service has been added successfully!");
            },
            error: function() {
              // handle error
            }
    </script>
</head>
<body>

    <h1>Service</h1>
    <form action="{#if isUpdate} /services/update/{service.id}{/if}{#if !isUpdate} /services/create {/if}"  method="post">


        Name
        <input type="text" id="name" name="name" value="{#if service.name}{service.name}{/if}"><br>
        <input type="submit" value="Valider">

    </form>

</body>
</html>