<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <h2 class="visually-hidden">Sitemap & information</h2>
        <div class="container-xxl footer-terms">
            <ul class="navbar-nav gap-md-3">
                <li>© Orange 2023</li>
            </ul>    
        </div>
    </footer>
</body>
</html>