<!-- <script src="https://unpkg.com/unpoly@2.7.1/unpoly.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/unpoly@2.7.1/unpoly.min.css"> -->
<style>
    .bord {
        border-style: none;
        margin-top: 2px;
    }

    .content {
        padding: 100px;
    }

    .legende {
        padding-bottom: 50px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="stretched-link" href="#">
                <img src="http://localhost:8080/orange-logo.svg" alt="Boosted - Back to Home" loading="lazy" width="50" height="50">
            </a>
            <h1 class="title">Orange</h1>
        </div>

        <!-- new code -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-end" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll align-items-end"
                style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/accueil">Accueil</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Reporting
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a href="/reporting/reseau" class="dropdown-item">Tickets liés au réseau</a></li>
                        <!-- <li><a href="/reportingService" class="dropdown-item" >Tickets liés aux services</a></li> -->
                        <li><a href="/servweeklyreporting" class="dropdown-item">Tickets liés aux services</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Incident
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a href="/incidents" class="dropdown-item" >Liste de tous les incidents en
                                cours</a></li>
                        <li><a href="/incidents/reseau" class="dropdown-item">Création d'incident du réseau</a></li>
                        <li><a href="/incidents/service" class="dropdown-item">Création d'incident de service</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a href="/sites" class="dropdown-item">Administration des sites</a></li>
                        <li><a href="/incidents/reseau" class="dropdown-item" >Administration des
                                utilisateur</a></li>
                        <li><a href="/services" class="dropdown-item" >Administration des services</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <ul class="nav fixed-top justify-content-center">


        </ul>
    </div>

</nav>