<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/css/boosted.min.css" rel="stylesheet"
        integrity="sha384-zYFw+mxKy6r9zpAc1NoGiYBfQmxfvg7ONEMr81WeU+WLPPaLC9QTrNGFJTBi3EIn" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/js/boosted.bundle.min.js"
        integrity="sha384-MANW37RG4MpFWPMCcNZBnvSobOkBpIGlbBkEzTtD4FbbOzJXbW8TddND1ak2lfsB"
        crossorigin="anonymous"></script>
    <title>Reporting des tickets liés aux services</title>
</head>

<body>
    {#include navbar}
    {/include}
    <!-- back to top -->
    <nav aria-label="Back to top" class="back-to-top">
        <a href="#top" class="back-to-top-link btn btn-icon btn-secondary" title="Back to top">
            <span class="visually-hidden">Back to top</span>
        </a>
    </nav>
    <div class="table-responsive-sm">
        <table class="table table-sm align-middle table-responsive">
            <thead>
                <tr>
                    <th></th>
                    {#for week in numberOfWeek}
                    <th rowspan="{servicesCount}">Semaine {week}</th>
                    {/for}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="{servicesCount}">Temps d'indisponibilité des services</th>
                </tr>
                <tr>
                    {#for listService in serviceList}
                <tr>
                    <td>{listService.name}</td>
                </tr>
                {/for}
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>