<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/css/boosted.min.css" rel="stylesheet"
        integrity="sha384-zYFw+mxKy6r9zpAc1NoGiYBfQmxfvg7ONEMr81WeU+WLPPaLC9QTrNGFJTBi3EIn" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.3/dist/js/boosted.bundle.min.js"
        integrity="sha384-MANW37RG4MpFWPMCcNZBnvSobOkBpIGlbBkEzTtD4FbbOzJXbW8TddND1ak2lfsB"
        crossorigin="anonymous"></script>
    <title>Reporting des tickets liés aux services</title>
</head>

<body>
    {#include navbar}
    {/include}
    <!-- back to top -->
    <nav aria-label="Back to top" class="back-to-top">
        <a href="#top" class="back-to-top-link btn btn-icon btn-secondary" title="Back to top">
            <span class="visually-hidden">Back to top</span>
        </a>
    </nav>
    <div class="table-responsive-sm">
        <h4 class="h4">Nombre de tickets ouverts <span class="badge bg-primary rounded-pill">{countServiceO}</span></h4>
        <h4 class="h4">Nombre de tickets fermés <span class="badge bg-primary rounded-pill">{countServicef}</span></h4>
        <form method="get" action="/nb/servreportingbydate" id="myform" class="row g-3">
            <div class="col-sm-1">
                <label for="staticEmail2" class="visually-hidden">Du</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Du">
            </div>
            <div class="col-md-3">
                <input type="date" name="from_date" id="from_date" class="form-control" placeholder="from date"><br>
            </div>
            <div class="col-sm-1">
                <label for="staticEmail2" class="visually-hidden">Au</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Au">
            </div>
            <div class="col-md-3">
                <input type="date" name="to_date" id="to_date" class="form-control" placeholder="to date"><br>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
            <div style="clear: both;"></div>
            <br>

        </form>
        <div id="report">
            <table class="table table-sm align-middle table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Numéro ticket</th>
                        <th scope="col">Criticité</th>
                        <th scope="col">Cause</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Résolution</th>
                        <th scope="col">Service</th>
                        <th scope="col">Cause principale</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {#for incident in incidents}
                    <tr>
                        <td>{incident[0]}</td>
                        <td>{incident[1]}</td>
                        <td>{incident[2]}</td>
                        <td>{incident[3]}</td>
                        <td>{incident[4]}</td>
                        <td>{incident[5]}</td>
                        <td>{incident[6]}</td>
                        <td>{incident[7]}</td>
                        <td>{incident[9]}</td>
                        <td class="status">{incident[8]}</td>
                    </tr>
                    {/for}
                </tbody>
            </table>
        </div>

    </div>

    <!-- Not using this one for the moment -->

    <!-- <div class="table-responsive-sm">
        <table class="table table-sm align-middle table-responsive">
            <thead>
                <tr>
                    <th></th>
                    {!#for week in numberOfWeek!}
                    <th rowspan="{!servicesCount!}">Semaine {!week!}</th>
                    {!/for!}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="{!servicesCount!}">Temps d'indisponibilité des services</th>
                </tr>
                <tr>
                    {!#for listService in serviceList!}
                <tr>
                    <td>{!listService.name!}</td>
                </tr>
                {!/for!}
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready !");
            /*$("#filter").click(function () {

                var createAd = $("#from_date").val;
                var closedAt = $("#to_date").val;

                var inc = {
                    createdAt: createAd,
                    closedAt: closedAt
                };

                $.ajax({
                    url: "/nb/servreportingbydate",
                    type: "GET",
                    data: JSON.stringify(inc),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function () {
                    $("#report").html(data);
                    console.log("success");
                }).fail(function () {
                    $(".message").html("Unable to call the server");
                });






                // $("#report").load("http://localhost/8080/nb/servreportingbydate",
                //     {
                //         "createdAt": createAd,
                //         "closedAt": closedAt
                //     })
            });*/
        });
    </script>
</body>

</html>